<p id="notice"><%= notice %></p>

<p>
  <strong>Creation date:</strong>
  <%= @dim_customer.creation_date %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @dim_customer.company_name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @dim_customer.full_name %>
</p>

<p>
  <strong>Company contact email:</strong>
  <%= @dim_customer.company_contact_email %>
</p>

<p>
  <strong>Nb elevator:</strong>
  <%= @dim_customer.Nb_Elevator %>
</p>

<p>
  <strong>Customer city:</strong>
  <%= @dim_customer.customer_city %>
</p>

<%= link_to 'Edit', edit_dim_customer_path(@dim_customer) %> |
<%= link_to 'Back', dim_customers_path %>
