<%= form_with(model: fact_elevator, local: true) do |form| %>
  <% if fact_elevator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fact_elevator.errors.count, "error") %> prohibited this fact_elevator from being saved:</h2>

      <ul>
      <% fact_elevator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :serial_number %>
    <%= form.text_field :serial_number %>
  </div>

  <div class="field">
    <%= form.label :date_of_commissioning %>
    <%= form.date_select :date_of_commissioning %>
  </div>

  <div class="field">
    <%= form.label :building_id %>
    <%= form.number_field :building_id %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id %>
  </div>

  <div class="field">
    <%= form.label :building_city %>
    <%= form.text_area :building_city %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
