<%# Interventions Form %>
<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field @current_user,:readonly => true %>
  </div>

  <%# <div class="field"> %>
    <%# <%= form.label :customer_id %>
    <%# <%= form.select(:customer_id, options_for_select(@customer_id)) %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%# <%= form.label :building_id %>
    <%# <%= form.select(:building_id, options_for_select(@building_id)) %>
  <%# </div> %>

  <div class="row no-gutters wow slideInUp" data-wow-duration="1s">
    <div class="col-md-12 home-form">
      <%= form_tag(building_search_path, method: "get", class: "form-inline", remote: true) do %>
      <div id="step_1">
        <%= form.label "Step 1 - Select customer" %>
        <%= select_tag "customer", options_from_collection_for_select(Customer.all, "id", "id"), prompt: "< Select customer>", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
      </div>
      <div id="step_2">
        <%= form.label "Step 2 - Select building" %>
        <%= select_tag "building", options_from_collection_for_select(Building.all, "id", "id"), prompt: "< Select building >", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
      </div>
      <div id="step_3">
        <%= form.label "Step 3 - Select battery" %>
        <%= select_tag "battery", options_from_collection_for_select(Battery.all, "id", "id"), prompt: "< Select battery >", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
      </div>
      <div id="step_4">
        <%= form.label "Step 4 - Select column" %>
        <%= select_tag "column", options_from_collection_for_select(Column.all, "id", "id"), prompt: "< Select column >", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
      </div>
      <div id="step_5">
        <%= form.label "Step 5 - Select elevator" %>
        <%= select_tag "elevator", options_from_collection_for_select(Elevator.all, "id", "id"), prompt: "< Select elevator >", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
      </div>
      <%= submit_tag("Search", class: "btn btn-primary") %>
  <% end %>
    </div>
  </div>

  <%# <div class="row" id="buildings_listing"> %>
    <%# <%= render partial: "buildings_list", locals: {buildings: @buildings} %>
  <%# </div> %>


  <%# <div class="field"> %>
    <%# <%= form.label :battery_id %>
    <%# <%= form.number_field :battery_id %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%# <%= form.label :column_id %>
    <%# <%= form.number_field :column_id %>
  <%# </div> %>

  <%# <div class="field"> %>
    <%# <%= form.label :elevator_id %>
    <%# <%= form.number_field :elevator_id %>
  <%# </div> %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.number_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="field">
    <%= form.label :report %>
    <%= form.text_area :report %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
