<%= form_with(model: fact_quote, local: true) do |form| %>
  <% if fact_quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fact_quote.errors.count, "error") %> prohibited this fact_quote from being saved:</h2>

      <ul>
      <% fact_quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :creation_date %>
    <%= form.date_select :creation_date %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_area :company_name %>
  </div>

  <div class="field">
    <%= form.label :quote_email %>
    <%= form.text_area :quote_email %>
  </div>

  <div class="field">
    <%= form.label :Nb_Elevator %>
    <%= form.number_field :Nb_Elevator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
